@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-one: #C4DFDF;
  --color-two: #FFFBEB;
  --color-three: #E3F4F4;
  --color-four: #F8CBA6;
  --accent: #97FEED;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #c9d6ffa6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #c9d6ffa6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Bellota Text';
  /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ; */
}

.home {
  /* font-family: 'Bellota Text'; */
  /* font-size: 9rem; */
  /* font-weight: 700; */
  /* background: #121FCF; */
  /* background: linear-gradient(to right, #12accf99 0%, #cfc612c7 44%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.about-link {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.logout {
  position: absolute;
  top: 20px;
  right: 30px;
}

.logout-button {
  cursor: pointer;
  margin: 20px;
}

.navbar-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:40px;
  display: flex;
  flex-direction: column;
  
  background: rgb(255,255,255);
  background: linear-gradient(140deg, rgba(252, 238, 227, 0.734) 0%, rgba(166, 232, 248, 0.734) 100%);
  
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  gap: 40px;

  z-index: 99;
}

.profile-pic {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.home-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-to {
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  
}

.caroubuy {
  background: -webkit-linear-gradient(#000000, var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.sign-up-page-container {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.form-container > h2 {
  font-size: 4.5rem;
}

.form-container > input {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
}

.form-container > input:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

/* create-listing */

.form-container-create-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.form-container-create-listing > h2 {
  font-size: 4.5rem;
}

.form-container-create-listing > input {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
}

.form-container-create-listing > input:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

.form-container-create-listing > textarea {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  background-color: transparent;
}

.form-container-create-listing > textarea:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

/* create-listing */

.back-sign-up {
  margin: 20px 0px;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 10px;
}

.provider-button {
  border: 0.05rem solid;
  border-image: linear-gradient(45deg, purple, orange) 1;
  /* background: linear-gradient(#ffffff00, #ffffff00) padding-box,
  linear-gradient(60deg, rgba(90, 194, 205, 0.153), rgba(80, 232, 255, 0.214)) border-box;
  border: 1px solid transparent; */
  padding: 10px 15px;
  border-radius: 15px;
  font-size:1.05rem;
  font-style: italic;
}

.or {
  padding: 10px;
  margin-left:10px;
  font-size:1.05rem;
}

.or-sign-up-login {
  padding: 10px;
  margin: 10px 0;
  font-size:1.05rem;
}

.caroubuy {
  
}

.overall-page-container {
  /* border: 1px solid red; */
  width:70vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 25px;
}

.back-above-content {
  position: absolute;
  top:0;
  left:0;
}

.uploadimgfield {
  display: flex;
  border: 1px solid rgb(139, 139, 139);
  color:gray;
  border-radius: 15px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.thumbnail-preview {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 10px;
}

/* pagination ---------------------------------start---------------------*/

.listing-overall {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  flex-wrap: nowrap;
  gap:1rem;
  /* position: absolute; */
}

.active {
  font-weight: 800;
  color: #ff0019;
}

.listing-container {
  /* border: 1px solid blue; */
  margin-bottom: 20px;
  display: grid;
  grid-gap:1em;
  padding:0.5em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: repeat(autofit,minmax(250px,1fr)); */
}

.listing-container-one-row {
    /* border: 1px solid blue; */
    margin-bottom: 20px;
    display: grid;
    grid-gap:1em;
    padding:0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(autofit,minmax(250px,1fr)); */
}

.listing-card {
  /* background: rgb(255,255,255); */
  /* background: linear-gradient(30deg, rgba(255, 255, 255, 0.671) 0%, rgba(255, 234, 218, 0.603) 100%); */
  /* background-color: #c9d6ff6c; */
  padding:20px;
  position: relative;
  height: 340px;
  width: 450px;
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.listing-card {

}

.listing-content {
  border: 1px solid orange;
  display: flex;
  gap: 5px;
}

.text-content {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  padding: 5px 10px;
}

.text-content-inner > h2 {
  font-size: 1.7rem;
  font-weight: 700;
}

.price {
  font-style:italic;
}

.image-container {
  width:190px;
  height:190px;
  border-radius: 15px;
}

/* pagination ---------------------------------end---------------------*/

.heart {
  position: absolute;
  z-index: 50;
  bottom: 20px;
  opacity:0.5;
  transition: all 0.5s ease;
}

.heart:hover {
  opacity: 1;
  scale: 1.2;
  cursor: pointer;
}

.addtobasket {
  position: absolute;
  z-index: 50;
  bottom: 22px;
  left: 50px;
  opacity:0.5;
  transition: all 0.2s ease;
}

.addtobasket:hover {
  opacity: 1;
  scale: 1.2;
  cursor: pointer;
}

/* listingcard https://uiverse.io/Sashank02/new-warthog-10 */

.card {
  position: relative;
  padding: 20px;
  width: 330px;
  min-height: 370px;
  border-radius: 20px;
  background: #e8e8e8;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  /* box-shadow: 5px 5px 6px #dadada,
               -5px -5px 6px #f6f6f6; */
  transition: 0.4s;
}

.card:hover {
  translate: 0 -10px;
  cursor: pointer;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
  width:280px;
  height:27px;
  overflow: hidden;
}

.card-image {
  height: 170px;
  width: 290px;
  overflow: hidden; /* Add this line to hide overflowing content */
  position: relative; /* Add this line to position the image properly */
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
  width:280px;
  height: 67.5px;
  overflow: hidden;
}

.footer {
  float: right;
  margin: 28px 0 0 18px;
  font-size: 13.25px;
  color: #636363;
}

.by-name {
  font-weight: 700;
}

/* listingcard https://uiverse.io/Sashank02/new-warthog-10 */


/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(110, 110, 110);
}

::-webkit-scrollbar-track-piece {
  /* background: #304158; */
  /* background: #27374D; */
}

/* scrollbar */

.searchinput {
  position:absolute;
  top:20px;
  left:50%;
  transform: translateX(-50%);
  z-index:55;
}

.searchinput > input {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
}

.searchinput > input:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

/* /listing/listingid */

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:1.5rem;
}

.indiv {
  background-color: #b7ccfa33;
  padding:30px;
  border-radius: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.content-container > button {
  border: 1px solid #F47174;
  padding:5px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.content-container > button:hover {
  background-color: #F47174;
  color:white;
  border: 1px solid #F47174;
  padding:5px;
  font-size: 0.8rem;
  border-radius: 5px;
}

.listingname {
  font-size: 2rem;
  font-weight: 700;
}

.heart-in-indiv {
  cursor: pointer;
  transition: all 0.2s ease;
}

.heart-in-indiv:hover {
  scale:1.1;
}

.basket-in-indiv {
  cursor: pointer;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}

.basket-in-indiv:hover {
  scale:1.1;
}

.clickables-in-indiv {
  display: flex;
  gap:15px;
  justify-content: center;
  align-items: center;
}

/* /listing/listingid */

.seller-name:hover {
  color:white;
}

/* profile page */

.profile-detail-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}

.user-links {
  margin-left: auto;
  display: flex;
  gap:10px;
}

.user-links > a:hover {
  color:white;
}

.profile-listing-feed {
  margin-top:20px;
}

.user-links {
  background-color: #b7ccfa63;
  padding: 10px;
  display: flex;
  gap:25px;
  border-radius: 15px;
}

/* profile page */

/* --------------------------- https://loading.io/css/----------------------------*/
.loader {
  height:100vh;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #a2c0cab7;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* --------------------------- https://loading.io/css/----------------------------*/

.basket-container {
  position:relative;
}

.basketqty {
  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right:-10px;
  bottom:-10px;
  /* background-color: #77DD77; */
  background-color: #F47174;
  height:20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  font-weight: 800;
  font-size: 0.8rem;
}

.checkout-button {
  border: 1px solid #F47174;
  padding:5px 10px;
  border-radius: 5px;
  transition: all 200ms ease;
}

.checkout-button:hover {
  background-color: #F47174;
  color:white;
  border: 1px solid #F47174;
  padding:5px 10px;
  border-radius: 5px;
}

/* purchase-history---------- */

.receipt-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: flex-start;
  gap:10px;
  flex-wrap: wrap;
  overflow-x: auto;
}

.receipt {
  background-color: #c9d6ff61;
  padding:20px;
  border-radius: 20px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:20px;
}

.purchased-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap:5px;
}

.purchased-item > a:hover {
  color:white;
}

/* purchase-history---------- */

@media (max-height: 950px) {
  .listing-container {
    /* border: 1px solid blue; */
    margin-bottom: 20px;
    display: grid;
    grid-gap:1em;
    padding:0.5em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(autofit,minmax(250px,1fr)); */
  }
}