@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-one: #C4DFDF;
  --color-two: #FFFBEB;
  --color-three: #E3F4F4;
  --color-four: #F8CBA6;
  --accent: #97FEED;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #c9d6ffa6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #c9d6ffa6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Bellota Text';
  /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ; */
}

.home {
  /* font-family: 'Bellota Text'; */
  /* font-size: 9rem; */
  /* font-weight: 700; */
  /* background: #121FCF; */
  /* background: linear-gradient(to right, #12accf99 0%, #cfc612c7 44%); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.about-link {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.logout {
  position: absolute;
  top: 20px;
  right: 30px;
}

.logout-button {
  cursor: pointer;
  margin: 20px;
}

.navbar-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right:40px;
  display: flex;
  flex-direction: column;
  
  background: rgb(255,255,255);
  background: linear-gradient(140deg, rgba(252, 238, 227, 0.734) 0%, rgba(166, 232, 248, 0.734) 100%);
  
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  justify-content: center;
  align-items: center;
  padding: 40px 30px;
  gap: 40px;
}

.profile-pic {
  border-radius: 50%;
}

.home-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-to {
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  
}

.caroubuy {
  background: -webkit-linear-gradient(#000000, var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.sign-up-page-container {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.form-container > h2 {
  font-size: 4.5rem;
}

.form-container > input {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
}

.form-container > input:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

/* create-listing */

.form-container-create-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.form-container-create-listing > h2 {
  font-size: 4.5rem;
}

.form-container-create-listing > input {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  width: 300px;
  background-color: transparent;
}

.form-container-create-listing > input:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

.form-container-create-listing > textarea {
  padding: 12px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: 15px;
  background-color: transparent;
}

.form-container-create-listing > textarea:focus {
  outline: none;
  border: 0.05rem solid #0011ff6f;
}

/* create-listing */

.back-sign-up {
  margin: 20px 0px;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 10px;
}

.provider-button {
  border: 0.05rem solid;
  border-image: linear-gradient(45deg, purple, orange) 1;
  /* background: linear-gradient(#ffffff00, #ffffff00) padding-box,
  linear-gradient(60deg, rgba(90, 194, 205, 0.153), rgba(80, 232, 255, 0.214)) border-box;
  border: 1px solid transparent; */
  padding: 10px 15px;
  border-radius: 15px;
  font-size:1.05rem;
  font-style: italic;
}

.or {
  padding: 10px;
  margin-left:10px;
  font-size:1.05rem;
}

.or-sign-up-login {
  padding: 10px;
  margin: 10px 0;
  font-size:1.05rem;
}

.caroubuy {
  
}

.overall-page-container {
  /* border: 1px solid red; */
  width:70vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 25px;
}

.back-above-content {
  position: absolute;
  top:0;
  left:0;
}